<div class="card">
		<h1>Banana DB</h1>
		<div class="button-board">
				<button hx-post="/v1/sync-swimmers" hx-trigger="click" hx-target="#content" hx-swap="innerHTML swap:0.8s">Sync Athletes</button>
				<button hx-post="/v1/add-swimmer" hx-prompt="Swimmer's First, Last name (comma seperated)" hx-target="#content" hx-swap="innerHTML swap:0.8s">Add Athlete</button>
				<button hx-get="/admin/frag/remove-athlete-form" hx-target="#modal" hx-swap="innerHTML">Remove Athlete</button>
				<button hx-get="/admin/frag/view-pb-form" hx-target="#modal" hx-swap="innerHTML">Swimmer Pbs</button>
		</div>
		<table id="swimmers">
				<tr>
						<th>SW ID</th>
						<th>Birth Year</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Gender</th>
				</tr>
				{% if swimmers %}
						{% for swimmer in swimmers %}
								<tr>
										<td>{% if swimmer.sw_id %}
												<a href="https://www.swimrankings.net/index.php?page=athleteDetail&athleteId={{ swimmer.sw_id }}" target="_blank" rel="noopener noreferrer">{{ swimmer.sw_id }}</a>
												{% else %}
												{{ '-'}}
												{% endif %}
										</td>
										<td>{{ swimmer.birth_year }}</td>
										<td>{{ swimmer.first_name }}</td>
										<td>{{ swimmer.last_name }}</td>
										<td>{{ swimmer.gender }}</td>
								</tr>
						{% endfor %}
				{% endif %}
		</table>
</div>

<dialog id="modal" hx-on::after-swap="if (!this.open) this.showModal()" onclick="if (event.target === this) this.close()">
</dialog>
