<div class="card">
		<h1>Banana DB</h1>
		<div class="button-board">
				<button hx-post="/v1/sync-swimmers" hx-trigger="click" hx-target="#content" hx-swap="innerHTML swap:0.8s">Sync Swimmers</button>
				<button hx-post="/v1/add-swimmer" hx-prompt="Swimmer's First and Last name (comma seperated)" hx-confirm="Are you BANANA?" hx-target="#content" hx-swap="innerHTML swap:0.8s">Add Swimmer</button>
				<button hx-post="/v1/remove-swimmer" hx-prompt="Swimmer's First name" hx-confirm="Are you BANANA?" hx-target="#content" hx-swap="innerHTML swap:0.8s">Remove Swimmer</button>
				<button type="button" onclick="document.getElementById('swimmer-pbs').showModal()">View Swimmer PBs</button>
		</div>
		<table id="swimmers">
				<tr>
						<th>SW ID</th>
						<th>Birth Year</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Gender</th>
				</tr>
				{% if swimmers %}
						{% for swimmer in swimmers %}
								<tr>
										<td>{% if swimmer[1] %}
												<a href="https://www.swimrankings.net/index.php?page=athleteDetail&athleteId={{ swimmer[1] }}" target="_blank" rel="noopener noreferrer">{{ swimmer[1] }}</a>
												{% else %}
												{{ '-'}}
												{% endif %}
										</td>
										<td>{{ swimmer[2] }}</td>
										<td>{{ swimmer[3] }}</td>
										<td>{{ swimmer[4] }}</td>
										<td>{{ swimmer[5] }}</td>
								</tr>
						{% endfor %}
				{% endif %}
		</table>
</div>

<dialog id="swimmer-pbs">
		<label for="swimmer_id">Swimmer's Name</label>
		<select name="swimmer_id" id="swimmer_id" hx-post="/v1/get-swimmer-pbs" hx-trigger="change" hx-target="#pb-container" hx-swap="innerHTML">
				{% if swimmers %}
						{% for swimmer in swimmers %}
								<option value="{{ swimmer[0] }}">{{ swimmer[3] }} {{ swimmer[4] }}</option>
						{% endfor %}
				{% endif %}
		</select>
		<div id="pb-container">

		</div>
</dialog>
