<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SCWR Swimmers</title>
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
  <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
				<header>
						<img id="header-logo" src="/static/img/header-logo.png">
				</header>
				<main>
						<div id="content">
								<fieldset class="card" hx-get="/athletes" hx-trigger="click" hx-target="#content" hx-swap="innerHTML" hx-push-url="true">
										<legend><span id="special">Athletes</span></legend>
										<img class="card-img" src="/static/img/athletes-{{range(1, 5) | random}}.jpg">
								</fieldset>
								<fieldset class="card" hx-get="/records" hx-trigger="click" hx-target="#content" hx-swap="innerHTML" hx-push-url="true">
										<legend><span id="special">Club Records</span></legend>
										<img class="card-img" src="/static/img/records-{{range(1, 5) | random}}.jpg">
								</fieldset>
								<fieldset class="card" hx-get="/meets" hx-trigger="click" hx-target="#content" hx-swap="innerHTML" hx-push-url="true">
										<legend><span id="not-special">Past, Present & Upcoming Meets</span></legend>
										<img class="card-img" src="/static/img/meets-{{range(1, 5) | random}}.jpg">
								</fieldset>
						</div>
				</main>
</body>
</html>
